#change-password-form-section{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#change-password-form-section img {
    margin-bottom: 40px;
    width: 158px;
    filter: invert(1);
}