#rate-container{
    p{
        font-size: 13px;
        margin-bottom: 5px;
        text-align: left;
    }

    ion-icon{
        width: 16px;
    }
    
    .golden-rate{
        color: gold;
    }
}