::ng-deep app-fab-button {
    position: fixed;
    bottom: 0;
    left: 50%;

    ion-fab {
        ion-fab-button {
            --background: var(--ion-color-light);
            --color: black;
            ion-icon{
                width: 30px;
                height: 30px;
            }
        }
    }
}